@import "_fonts";

.text-font-header {
    font-family: "Cutive Mono", "Courier New" , monospace;
}

.text-font-content {
    font-family: "Open Sans", "Arial", monospace;
}

.text-font-content-bold {
    font-famiy: "Open Sans", "Arial", monospace;
    font-weight: 600
}
