@import "_fonts";

.text-font-header {
    font-family: "Cutive Mono", "Courier New" , monospace;
}

.text-font-content {
    font-family: "Open Sans", "Arial", monospace;
}

.text-font-content-bold {
    font-family: "Open Sans", "Arial", monospace;
    font-weight: 600
}

.text-font-content-bold-400 {
    font-family: "Open Sans", "Arial", monospace;
    font-weight: 400
}

.text-font-content-normal-300 {
    font-family: "Open Sans", "Arial", monospace;
    font-weight: 300
}
