/* A collection of some muted custom color gradients */

.bg-navajo-salmon-gradient {
    background-image: linear-gradient(#FFDEAD, #FFA07A);
}

.bg-steel-sky-blue-gradient  {
    background-image: linear-gradient(#B0C4DE, #87CEFA) ;
}

.bg-light-sea-green-gradient {
    background-image: linear-gradient(#90EE90, #8FBC8F);
}

.bg-azure-alice-gradient {
    background-image: linear-gradient(#FFEBCD, #FFF8DC);
}
