<div class="px-4 py-4">
    <div class="row container ">
        <div class="mh-100 mw-50 col-12 col-sm-4 text-left">
            <img src="{{ .Params.img }}" alt="no_image.jpg" class=" img-responsive rounded-circle img-thumbnail" />
        <div class="display-6 caption center-block text-center font-weight-bold text-font-content-bold font-weight-bold py-2"> 
            {{ .Params.author }}
        </div>

        </div>
        <div class="col-12 col-sm-8">
            Hello
        </div>
    </div>
</div>
