<div class="px-5 py-4 container">
    <div class="row container-fluid">
        <div class="mg-100 mw-50 col-auto mr-auto col-lg-12 text-left">
            <h1 class=" pb-4 center-block text-left text-font-content-bold">
                Skills
            </h1>
            <div class="row">
                {{ $card_color_mapping := .Params.card_color_bg }}
                {{ range sort .Params.skills "weight" }}
                    <div class="col-md-3 px-2 py-2">
                    {{- partial "about/skill.html" (dict "context" . "card_color" $card_color_mapping ) -}}
                    </div>
                {{ end}}
            </div>
        </div>
    </div>
</div>
