<footer class="bg-dark d-flex flex-wrap py-1 my-4 border-top mb-auto">
    <div class="px-4 vw-100">

       <nav class="pb-0 navbar navbar-dark navbar-expand-md">
       <div class="navbar-nav mr-auto mb-1"> 
            {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                    <li>
                        <a class="text-decoration-none" href="{{.URL}}">
                            {{ .Pre }}
                            <span class = "text-font-content">
                            {{ .Name }}
                            </span>
                            {{ .Post }}
                        </a>
                    </li>
                {{ end }}
        </div>
        </nav>
        <hr class="text-white"/>
        <div class="d-flex justify-content-between pb-2">
            <div class="text-font-content text-white-50">
                {{- partial "copyright.html" . -}}
            </div>
            <div class="text-font-content text-white-50">
                {{- partial "credits.html" . -}}
            </div>
        </div>
    </div>
</footer>
