<footer class="bg-dark d-flex flex-wrap py-3 my-4 border-top">
    <div class="px-4 vw-100">

       <nav class="navbar navbar-dark navbar-expand-md">
       <div class="navbar-nav mr-auto "> 
            {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                    <li>
                        <a class="text-decoration-none" href="{{.URL}}">
                            {{ .Pre }}
                            <span class = "text-font-content">
                            {{ .Name }}
                            </span>
                            {{ .Post }}
                        </a>
                    </li>
                {{ end }}
        </div>
        </nav>
        <hr class="text-white"/>
        <p class="col-md-8 mb-0 text-white text-muted"> 
             <!-- Override this file in layouts/partials in order to add your own copyright message -->
             {{- partial "copyright.html" . -}}
        </p>
 
    </div>
</footer>
