<footer class="bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="container">

       <nav class="navbar navbar-dark navbar-expand-md">
        <p class="col-md-4 mb-0 text-white"> 
            <!-- Override this file in layouts/partials in order to add your own copyright message -->
            {{- partial "copyright.html" . -}}
        </p>
        <div class="navbar-nav mr-auto mt-lg-0 mt-8 pt-8"> 
            {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                    <li>
                        <a class="text-decoration-none" href="{{.URL}}">
                            {{ .Pre }}
                                <span class = "text-font-content">
                                    {{ .Name }}
                                </span>
                            {{ .Post }}
                        </a>
                    </li>
                {{ end }}
        </div>
        </nav>
    </div>
</footer>
