<header class="bg-dark">
    <nav class="navbar navbar-dark navbar-expand-md justify-content-between" >
        <a class="display-1 navbar-brand justify-content-left px-4 text-title text-font-header fs-1" href="{{ .Site.BaseURL }}">
            {{ .Site.Title }}
        </a>
        <div class="navbar-nav mr-auto mt-lg-0 mt-8 pt-4 px-4">
            <li class = "nav-link" >
                <a class="text-decoration-none" href="{{ .Site.BaseURL }}">
                    <div class="nav-link">
                        <span class="text-font-content">Blog</span>
                    </div>
                </a>
            </li>
            <li class = "nav-link" >
                <a class="text-decoration-none" href="/about/">
                    <div class="nav-link">
                        <span class="text-font-content">About</span>
                    </div>
                </a>
            </li>
            <li class = "nav-link" >
                <a class="text-decoration-none" href="/tags/">
                    <div class="nav-link">
                        <span class="text-font-content">Tags</span>
                    </div>
                </a>
            </li>
        </div>
    </nav>
    <div class="px-4 pb-2" > 
        <span class="fst-italic fs-5 text-white text-font-content"> 
            "{{ .Site.Params.subtitle_description }}" 
        </span> 
    </div>
</header>
