<header class="bg-dark">
    <nav class="navbar navbar-dark navbar-expand-md justify-content-between" >
        <a class="display-1 navbar-brand justify-content-left px-4 text-title text-font-header fs-1" href="{{ .Site.BaseURL }}">
            {{ .Site.Title }}
        </a>
        <div class="navbar-nav mr-auto mt-lg-0 mt-8 pt-8">
             {{ $currentPage := . }}
                 {{ range .Site.Menus.main }}
                        <li class= "nav-link" >
                            <a class="text-decoration-none" href="{{.URL}}">
                                {{ .Pre }}
                                    <span class="text-font-content"> 
                                        {{ .Name }} 
                                    </span>
                                {{ .Post }}
                            </a>
                        </li>
 
               {{ end }}
        </div>
    </nav>
    <div class="px-4" > 
        <span class="fst-italic fs-6 text-white text-font-content"> 
            "{{ .Site.Params.subtitle_description }}" 
        </span> 
    </div>
</header>
